
/* STRUCTURE */
body {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    padding:0;
    height:100%;
    margin: auto;
    width: 94%;
    max-width:1500px;
}

header {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1em;
    margin-left:  1em;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 7%;
    margin-left: 7%;
    padding:10px;
    padding-bottom:60px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

nav {

    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

ul{
    margin-top: 0;
    list-style-type: none;

}

ul li{
    display: flex;
    flex-direction: row-reverse;
}

.about-me{
    padding: 30px;
    color: white;
    background-color: black;
    line-height: 2em;
    margin-right: 10%;
    max-width: 280px;
    margin-bottom: 20%;
    border-radius: 6px;


  
    border: 1vmin solid hsl(100 100% 60%);
    border-image-slice: 1;
    
    /*  leverage cascade for cross-browser gradients  */
    border-image-source: linear-gradient(
      hsl(100 100% 60%),
      50%,
      hsl(200 100% 60%)
    );
    border-image-source: radial-gradient(
      hsl(100 100% 60%),
      75%,
      hsl(200 100% 60%)
    );
    border-image-source: conic-gradient(
      hsl(100 100% 60%), 
      hsl(200 100% 60%),
      hsl(100 100% 60%)
    );
}


footer{
    font-size: .7em;
    text-align: center;
    display: block;
    width:100%;
    margin-bottom: 0px;

    position: absolute;
    bottom: 0;
    width: 100%;
}


/* TEXT FORMATING STUFF*/
header h1{
    margin-top: 0px;
    padding: 0;
}


nav a {
    color: white;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: .5em;
}

nav a h2{
    margin-top: 0;

}

nav a h2:hover{
    color: yellow;
    transform: scale(1.1);
    transition-timing-function: ease;

}

.about-me{
    font-family: 'Raleway', sans-serif;
}

.about-me h3{
    font-size: 2em;
    margin-top: 0px;
}

.about-me p{
    font-size: 1.2em;
}

footer a{
    background-color: grey;
    margin-bottom: 0;
    color: #FFFFFF;
    text-decoration: none;
}
footer a:hover{
    background-color: white;
    color: grey;
}

footer p{
    padding: 0;
}

#projects img{
    max-width: 40vw;
    border-radius: 4em;
    
}

#projects{
    font-family: 'Raleway', sans-serif;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 60px;
}

#projects a{
    text-decoration: none;
    color:white;
}

#projects a:hover{
    color: yellow;
    transform: scale(1.05);
    transition-delay: 20ms;
    transition-timing-function: ease;
}

#projects h3{
    margin-bottom: 0;
    font-size: 1.7em;
}

#projects h4{
    margin-bottom: 0;
}

.weather-web-app{
    display: flex;
}

.vertical ul{
    padding-left: 0;
    display: flex;
}

.vertical li{
    margin-right: .7em;
    margin-left: 0;
}

.vertical ul li{
    display: flex;
    flex-direction: row-reverse;
}

.vertical{
    padding-left: 2vw;
}



/* mobile friendly stuff*/
@media (max-width: 990px) {
    body {
        display: block;
        background-color: #282741;
    }
    .grid{
        display: block;
    }
    .about-me{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}